

@media (min-width: 992px) {

    .app {
        position: relative;
        min-height: 100vh;
    }

    .app-nav {
        background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        z-index: 10;
    }

    .app-content {
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 15px 15px 15px 300px;
    }

} 